@charset "utf-8";
/* CSS Document */

.red{
	position: fixed;
	top: 200px;
	z-index: 100;
	left: 0;
}

#facebook a {
	background: #3b5998;
	padding: 10px 23px;
	color: #fff;
	text-decoration: none;
	width: 50px;
	transition: all .4s ease;
}

#facebook a:hover{
background: rgb(224, 191, 98);;
padding: 10px 50px;
}





#youtube a{
	background: #ff0000;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 50px;
	transition: all .4s ease;
}

#youtube a:hover{
background: rgb(224, 191, 98);;
padding: 10px 50px;
}

#twitter a{
	background: #55acee;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 50px;
	transition: all .4s ease;
}

#twitter a:hover{
background: rgb(224, 191, 98);
padding: 10px 50px;
}

#correo a{
	background: rgb(230, 83, 210);
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	width: 50px;
	transition: all .4s ease;
}

#correo a:hover{
background: rgb(224, 191, 98);;
padding: 10px 50px;
}